<div class="btn-group" style="align:right;">
  <%= current_user ? link_to("Profile", user_path(current_user), class:"btn btn-default") :
      link_to("Login", new_user_session_path, class:"btn btn-default") %>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% if current_user %>
      <li><%= link_to "Add Car", new_user_car_path(current_user.id) %></li>
      <li><%= link_to "Garage", user_cars_path(current_user.id) %></li>
      <li class="divider"></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</div>
