<!DOCTYPE html>
<html>
<head>
  <title>RepairBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <div class=" navbar navbar-right">
      <%= render 'layouts/user_menu' %>
    </div>
  </div>
</nav>
<div class="container"
  <body>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</div>
</html>
